@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('/fonts/Pretendard-ExtraBold.subset.woff2') format('truetype');
    font-weight: bold;
}

/* 폰트를 사용할 요소에 적용 */
body {
    background-color: #000000;
}

h1 {
    margin-top: 120px;
    font-size: 60px;
    text-align: center;
    font-family: 'Pretendard-ExtraBold', sans-serif;
}

/* gonggu 코드 */
.title {
    color: aliceblue;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 30px;
}

#main_title,
#sub_title {
    text-align: center;
}

#main_title {
    margin-top: 90px;
    font-family: 'Pretendard-ExtraBold', sans-serif;
    font-size: 40px;
}

#sub_title {
    margin-top: 20px;
}

/* frame select img */

.frame_select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.frame_select>div {
    flex: 1;
    text-align: center;
}

#applemusic_full_img,
#applemusic_white,
#applemusic_small_img {
    position: absolute;
    /* max-width: 100%; */
    transition: all 0.5s ease-in-out;
    /* height: auto; */
}

#applemusic_white {
    bottom: -1%;
    left: 28%;
    z-index: 1;
    transform: rotate(-20deg);
}

#applemusic_small_img {
    bottom: 1%;
    right: 28%;
    z-index: 1;
    transform: rotate(20deg);
    /* 15도 회전 */
}

#applemusic_full_img {
    /* max-width: 80%; */
    width: 330px;
    height: auto;
    display: block;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    z-index: 2;
    transform: rotate(0deg);
}

#applemusic_small_img,
#applemusic_white {
    width: 280px;
}

#applemusic_white:hover {
    width: 310px;
    transform: rotate(0deg);
    z-index: 3;
}

#applemusic_white:hover~#applemusic_full_img {
    z-index: 1;
}

#applemusic_white:hover~#applemusic_small_img {
    z-index: 0;
}

#applemusic_white:hover~#applemusic_small_img {
    z-index: 0;
}

#applemusic_small_img:hover {
    width: 310px;
    transform: rotate(0deg);
    z-index: 3;
}

#applemusic_small_img:hover~#applemusic_full_img {
    z-index: 1;
}

#applemusic_small_img:hover~#applemusic_width {
    z-index: 1;
}