body {
    overflow: hidden;
}

#start_page,
#main_page {
    heigh: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#start_page {
    background-color: #ffffff;
}

#bacco-image {
    position: fixed;
    bottom: -10px;
    right: 30px;
    width: 590px;
    height: 600px;
}

#bacco1-image {
    width: 400px;
    height: 480px;
    position: fixed;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.box {
    width: 160px;
    height: 240px;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    z-index: 1;
    border-radius: 35px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.box.visible {
    opacity: 1;
    transform: translateY(0);
}

.box img {
    width: 130px;
    height: auto;
    margin-bottom: -130px;
}

.box3 img {
    margin-top: -30px;
}

.box6 img {
    margin-top: -16px;
}

.box2 img {
    top: -10px;
    position: relative;
}

.box4 img {
    top: -20px;
    position: relative;
}

.box1 {
    margin-top: 250px;
    margin-left: -40px;
}

.box2 {
    margin-top: 30px;
}

.box3 {
    margin-left: -220px;
    margin-top: 330px;
}

.box5 {
    margin-top: 400px;
    margin-left: -220px;
}

.box6 {
    margin-top: 30px;
}

.box7 {
    margin-top: 330px;
    margin-left: -220px;
}

.box8 {
    margin-top: 400px;
}

.box-text {
    text-align: left;
    padding-left: 5px;
    margin: 0;
    font-size: 20px;
}

.box-text2 {
    text-align: left;
    padding-left: 5px;
    margin: 0;
    font-size: 10px;
    margin-top: 5px;
    color: #000000;
}

.text {
    position: fixed;
    bottom: 30px;
    left: 10px;
    color: #ffffff;
    font-size: 50px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.mogra-text {
    font-family: 'Mogra', cursive;
    font-size: 55px;
}

.text2 {
    position: fixed;
    bottom: 460px;
    right: 30px;
    color: #ffffff;
    font-size: 55px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 900;
    z-index: 1;
    text-align: right;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.2),
        0 0 10px rgba(255, 255, 255, 0.2),
        0 0 15px rgba(255, 255, 255, 0.3),
        0 0 20px rgba(255, 255, 255, 0.3),
        0 0 30px rgba(255, 255, 255, 0.4);
}
 /*tablet 반응형*/
 @media only screen and (max-width: 1200px) {
    .box {
        width: 140px;
        height: 220px;
        margin-right: 5px;
    }

    .box img{
        width: 110px;
        height: 110px;
    }

    .box6 img{
        height: 130px;
    }

   .box3{
    margin-left: -205px;
    margin-top: 320px;
   }

   .box5{
    margin-top: 379px;
    margin-left: -200px;
   }

   .box7{
    margin-top: 330px;
    margin-left: -195px;
   }

   .box1{
    margin-top: 250px;
    margin-left: 3px;
   }

   .box-text {
    text-align: left;
    padding-left: 0px;
    margin: 0;
    font-size: 18px;
    }

    .box7 img{
        margin-top: -10px;
    }

    .box-text2 {
        margin-bottom: -14px;
    }

    .box4 img{
        margin-top: 50px;
    }

    .box2 img{
        margin-top: 50px;
    }

    .box6 img{
        margin-top: 30px;
    }

    #bacco1-image {
        margin-left: -10px;
    }
}

    @media only screen and (max-width: 1010px) {
        .box1 {
            margin-top: 250px;
            margin-left: -10px;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 18px;
        }

        .text2 {
            font-size: 50px;
        }
    }

    @media only screen and (max-width: 994px) {
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 15px;
        }
        .box1 {
            margin-left: -10px;
        }
    }

    @media only screen and (max-width: 978px) {
        .box1 {
            margin-top: 250px;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
        }
    }

    @media only screen and (max-width: 970px) {
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 15px;
        }
    }

    @media only screen and (max-width: 968px) {
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            margin-left: -7px;
        }
        .box1 {
            margin-top: 250px;
            margin-left: -10px;
        }
    }

    @media only screen and (max-width: 932px) {
        .box1 {
            margin-top: 250px;
            margin-left: -8px;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            margin-left: -30px;
        }
    }

    @media only screen and (max-width: 910px) {
        .box1 {
            margin-top: 250px;
            margin-left: -8px;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            margin-left: -60px;
        }

        @media only screen and (max-width: 890px) {
            
            .container {
                margin-left: -70px;
            }
    

        .box1 {
            margin-left: -0px;
        }
    }

    @media only screen and (max-width: 875px) {
            
        .container {
            margin-left: -90px;
        }


    .box1 {
        margin-left: -0px;
    }
}


 /* 모바일 반응형 */
@media only screen and (max-width: 500px) {
    .container {
        display: flex;
        flex-wrap: nowrap; /* 한 줄 정렬 */
        overflow-x: auto; /* 가로 스크롤 활성화 */
        justify-content: flex-start; /* 박스 시작점부터 정렬 */
        align-items: center; /* 세로 중앙 정렬 */
        gap: 20px; /* 박스 간격 */
        padding: 10px; /* 컨테이너 여백 */
        height: 100vh; /* 화면 높이를 꽉 채움 */
        width: auto; /* 컨테이너의 너비를 내용에 맞게 설정 */
    }

    #bacco-image {
        position: fixed;
        bottom: -10px;
        right: -20px;
        width: 500px;
        height: 550px;
    }

    #bacco1-image {
        width: 300px;
        height: 380px;
        position: fixed;
    }

    .box {
        flex: 0 0 auto; /* 고정된 크기로 정렬 */
        margin: 0; /* 마진 제거 */
        width: 210px;
        height: 330px;
        margin-bottom: 110px;
    }

    /* 가로 스크롤바 스타일 (선택 사항) */
    .container::-webkit-scrollbar {
        height: 8px; /* 스크롤바 높이 */
    }

    .container::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.5); /* 스크롤바 색상 */
        border-radius: 4px; /* 스크롤바 둥글게 */
    }

    .container::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.1); /* 스크롤바 트랙 색상 */
    }

    .text2{
        bottom: 520px;
        right: 20px;
        font-size: 30px;
    }

    .mogra-text {
        font-size: 50px;
        
    }
    .text {
        bottom: 5px;
        left: 18px;
        font-size: 35px;
    }

    .box img{
        width: 200px;
        height: 180px;
        margin-top: 60px;
    }

    .box3 img{
        margin-top: 20px;
    }

    .box5 img{
        margin-top: 30px;
    }

    .box6 img{
        width: 180px;
        height: 210px;
        margin-top: 20px;
    }

    .box7 img{
        margin-top: 30px;
    }

    .box-text{
        font-size: 25px;
    }

    .box-text2{
        font-size: 15px;
    }
}
    }