body {
    background-color: #000000;
    margin: 0;
    padding: 0;
}

body > header {
    position: fixed; /* header의 위치를 고정 */
    top: 0;
    right: 0;
    left: 0;
    z-index: 10; /* header의 z-index를 높여 navbar를 위에 나타나게 함 */
}

.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: rgba(255, 255, 255, 0.7); /* 흰색의 반투명 배경색 */
    padding: 15px 20px;
    z-index: 10; /* navbar의 z-index를 높게 설정 */
}

.navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar li a {
    color: black;
    padding: 10px 35px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 100;
}

#bacco-image {
    position: fixed;
    bottom: -10px;
    right: 30px;
    width: 590px;
    height: 600px;
}

#bacco1-image {
    width: 400px;
    height: 480px;
    position: fixed;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.box {
    width: 160px;
    height: 240px;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    z-index: 1;
    border-radius: 35px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.box.visible {
    opacity: 1; /* 나타날 때의 투명도 */
    transform: translateY(0); /* 원래 위치로 이동 */
}

.box img {
    width: 130px;
    height: auto;
    margin-bottom: -160px;
}

.box1 { margin-top: 250px; margin-left: -40px; }
.box2 { margin-top: 30px; }
.box3 { margin-left: -220px; margin-top: 330px; }
.box5 { margin-top: 400px; margin-left: -220px; }
.box6 { margin-top: 30px; }
.box7 { margin-top: 330px; margin-left: -220px; }
.box8 { margin-top: 400px; }

.box p {
    text-align: left;
    padding-left: 5px; 
    margin: 0;
    font-size: 20px;
}

.text {
    position: fixed;
    bottom: 30px;
    left: 10px;
    color: #ffffff;
    font-size: 50px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.mogra-text {
    font-family: 'Mogra', cursive;
    font-size: 55px;
}

.text2 {
    position: fixed;
    bottom: 460px;
    right: 30px;
    color: #ffffff;
    font-size: 55px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 900;
    z-index: 1;
    text-align: right;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.2),
                 0 0 10px rgba(255, 255, 255, 0.2),
                 0 0 15px rgba(255, 255, 255, 0.3),
                 0 0 20px rgba(255, 255, 255, 0.3),
                 0 0 30px rgba(255, 255, 255, 0.4);
}