body{
    background-color: #000000;
    margin: 0;
    padding: 0;
}

body>header{
    position:absolute;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #d1d1d1;
    padding: 15px 20px;
}

.navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.navbar li a {
    color: black;
    padding: 10px 35px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 100px;
}

#bacco-image {
    position: fixed;
    bottom: -10px;
    right: 30px;
    width: 590px;
    height: 600px;
}

#bacco1-image {
    width: 400px;
    height: 480px;
    position: fixed;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.box {
    width: 150px;
    height: 230px;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    z-index: 1;
}

.box img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

