

.finish-text {
    position: absolute;
    right: 300px;  /* 오른쪽 끝에 위치 */
    top: 50px;    /* 네브바 바로 아래에 위치 */
    width: 400px; /* 이미지 크기 조정 */
    height: auto; /* 비율에 맞게 이미지 크기 조정 */
}


.Receipt {
    display: flex;
    justify-content: center;
    gap: 130px;
    position: relative; 
}

.receipt {
    width: 360px;
    height: 570px;
    position: relative;
    margin-right: 500px;
}

.finish-img {
    position: absolute;
    transform: translateX(-50%);
    width: 350px;
    margin-right: 170px;
    margin-top: 530px;
}

.btn-overlay {
    position: absolute;
    transform: translateX(-50%);
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 180px;
    margin-top: 540px;
}

.btn-overlay img {
    width: 40px;
    height: 40px;
}

.receipt1 {
    position: absolute;
    bottom: -600px; /* 초기 위치는 화면 아래로 숨김 */
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 2s ease-out, transform 2s ease-out; /* 애니메이션 효과 강화 */
    display: none; /* 초기에는 숨김 */
}

body::-webkit-scrollbar {
    display: none;
}


.receipt1 img {
    width: 370px;
    height: 500px;
}

/*tablet 반응형*/
@media only screen and (max-width: 1024px) {

    .finish-text {
        position: absolute;
        right: 140px;  /* 오른쪽 끝에 위치 */
        top: 80px;    /* 네브바 바로 아래에 위치 */
        width: 400px; /* 이미지 크기 조정 */
        height: auto; /* 비율에 맞게 이미지 크기 조정 */
    }

    .receipt1 img {
        margin-left: 70px;
    }

    .receipt{
        margin-right: 420px;
    }

    .finish-img{
        margin-right: 95px;
    }

    .finish-text {
        margin-right: -38px;
    }
}

/*mobile 반응형*/
@media only screen and (max-width: 768px) {

    .Receipt {
        display: flex;
        justify-content: center;
        position: relative; 
    }
    
    .receipt {
        width: 360px;
        height: 570px;
        position: relative;
        margin-right: -10px;
        margin-top: 170px;
    }

    .finish-img {
        position: absolute;
        transform: translateX(-50%);
        width: 350px;
        margin-right: -338px;
        margin-top: 695px;
    }

    .btn-overlay {
        position: absolute;
        transform: translateX(-50%);
        background: none;
        border: none;
        cursor: pointer;
        margin-right: -330px;
        margin-top: 705px;
    }
    
    .receipt1 {
    position: absolute;
    bottom: -600px; /* 초기 위치는 화면 아래로 숨김 */
    left: 50%;
    margin-left: -122px;
    margin-bottom: -42px;
    transform: translateX(-50%);
    transition: bottom 2s ease-out, transform 2s ease-out; /* 애니메이션 효과 강화 */
    display: none; /* 초기에는 숨김 */
    }

    .finish-text {
        position: absolute;
        top: 70px;
        left: 60px;
        width: 400px; /* 이미지 크기 조정 */
        height: auto; /* 비율에 맞게 이미지 크기 조정 */
    }

  }

/* @media screen and (max-width:550px) {
    .receipt1 img {
        margin-left: -41px;
        margin-bottom: -150px;
    }}

@media screen and (max-width:545px) {
        .receipt1 img {
            margin-left: 87px;
            margin-bottom: 80px;
        }


    }     */

/* @media screen and (max-width:391px) {
        .receipt1 img {
            margin-left: 132px;
            margin-bottom: 80px;
        }

        .btn-overlay img {
            margin-right: 5px;
        }

        .finish-text{
            margin-right: -1px;
            margin-top: 10px;
        }
    }
  } */