body {
    background-color: #000000;
    margin: 0;
    padding: 0;
}

body > header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.navbar-container {
    position: relative;
    z-index: 10;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15px 20px;
    z-index: 10;
    box-shadow: 0px 6px 30px rgba(255, 255, 255, 0.6);
}

.navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar li a {
    color: black;
    padding: 10px 35px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 100;
}

.finish-text {
    position: absolute;
    right: 300px;  /* 오른쪽 끝에 위치 */
    top: 40px;    /* 네브바 바로 아래에 위치 */
    width: 400px; /* 이미지 크기 조정 */
    height: auto; /* 비율에 맞게 이미지 크기 조정 */
}


.Receipt {
    display: flex;
    justify-content: center;
    gap: 130px;
    position: relative; 
}

.receipt {
    width: 360px;
    height: 570px;
    position: relative;
    margin-right: 500px;
}

.finish-img {
    position: absolute;
    transform: translateX(-50%);
    width: 350px;
    margin-right: 170px;
    margin-top: 530px;
}

.btn-overlay {
    position: absolute;
    transform: translateX(-50%);
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 180px;
    margin-top: 540px;
}

.btn-overlay img {
    width: 40px;
    height: 40px;
}

.receipt1 {
    position: absolute;
    bottom: -600px; /* 초기 위치는 화면 아래로 숨김 */
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 2s ease-out, transform 2s ease-out; /* 애니메이션 효과 강화 */
    display: none; /* 초기에는 숨김 */
}

body::-webkit-scrollbar {
    display: none;
}


.receipt1 img {
    width: 370px;
    height: 500px;
}

@media only screen and (max-width: 1024px) {

    .finish-text {
        position: absolute;
        right: 140px;  /* 오른쪽 끝에 위치 */
        top: 80px;    /* 네브바 바로 아래에 위치 */
        width: 400px; /* 이미지 크기 조정 */
        height: auto; /* 비율에 맞게 이미지 크기 조정 */
    }

}

/*mobile */
@media only screen and (max-width: 768px) {

    .Receipt {
        display: flex;
        justify-content: center;
        position: relative; 
    }
    
    .receipt {
        width: 360px;
        height: 570px;
        position: relative;
        margin-right: -10px;
        margin-top: 200px;
    }

    .finish-img {
        position: absolute;
        transform: translateX(-50%);
        width: 350px;
        margin-right: -338px;
        margin-top: 710px;
    }

    .btn-overlay {
        position: absolute;
        transform: translateX(-50%);
        background: none;
        border: none;
        cursor: pointer;
        margin-right: -330px;
        margin-top: 720px;
    }
    
    .receipt1 {
    position: absolute;
    bottom: -600px; /* 초기 위치는 화면 아래로 숨김 */
    left: 50%;
    margin-left: -130px;
    margin-bottom: 0;
    transform: translateX(-50%);
    transition: bottom 2s ease-out, transform 2s ease-out; /* 애니메이션 효과 강화 */
    display: none; /* 초기에는 숨김 */
    }

    .finish-text {
        position: absolute;
        right: -5px;  
        top: 40px;    /* 네브바 바로 아래에 위치 */
        width: 400px; /* 이미지 크기 조정 */
        height: auto; /* 비율에 맞게 이미지 크기 조정 */
    }

  }

@media screen and (max-width:550px) {
    .receipt1 img {
        margin-left: -41px;
        margin-bottom: -150px;
    }

@media screen and (max-width:545px) {
        .receipt1 img {
            margin-left: 87px;
            margin-bottom: 1px;
        }
    }    

@media screen and (max-width:391px) {
        .receipt1 img {
            margin-left: 124px;
            margin-bottom: 152px;
        }
    }
  }