/* body, html {
    overflow: hidden; 스크롤 방지
} */

body::-webkit-scrollbar {
    display: none;
}

.navbar {
    z-index: 1000;
}

#center-image {
    width: 1600px;
    height: 800px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 95%;  /* 화면 크기에 맞게 비율 제한을 더 넓게 설정 */
    max-height: 90%; /* 화면 크기에 맞게 비율 제한 */
    object-fit: contain; /* 비율 유지 */
    margin-top: 35px;
}


#text {
    position: absolute;
    left: 60px;
    top: 110px;
    font-size: 25px;
    font-weight: bold;
    color: #9AB092;
    font-family: 'Unbounded', sans-serif;
}

#youandi-text {
    position: absolute;
    bottom: 60px;
    right: 60px;
    font-size: 60px;
    font-weight: bold;
    color: #175C2E;
    font-family: 'Unbounded', sans-serif;
}