body, html {
    overflow: hidden; /* 스크롤을 방지 */
}

#center-image {
    width: 1600px;  /* 이미지 가로 크기 더 증가 */
    height: 800px;  /* 이미지 세로 크기 유지 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 95%;  /* 화면 크기에 맞게 비율 제한을 더 넓게 설정 */
    max-height: 90%; /* 화면 크기에 맞게 비율 제한 */
    object-fit: contain; /* 비율 유지 */
    margin-top: 35px;
}


#text {
    position: absolute;
    left: 60px;
    top: 110px;
    font-size: 25px;
    font-weight: bold;
    color: #9AB092;
    font-family: 'Unbounded', sans-serif;
}

#youandi-text {
    position: absolute;
    bottom: 60px;
    right: 60px;
    font-size: 60px;
    font-weight: bold;
    color: #175C2E; /* 텍스트 색상 */
    font-family: 'Unbounded', sans-serif;
}